[dir="rtl"] {
	text-align: right !important;
	direction: rtl !important;
}

[dir="ltr"] {
	text-align: left !important;
	direction: ltr !important;
}

.bn-editor [dir="rtl"],
.bn-editor .bn-block[dir="rtl"],
.bn-editor .bn-block-content[dir="rtl"],
.bn-editor .bn-inline-content[dir="rtl"],
[data-node-type="blockContainer"][dir="rtl"],
[data-node-type="blockContainer"][dir="rtl"] * {
	text-align: right !important;
	direction: rtl !important;
}

.bn-editor [dir="ltr"],
.bn-editor .bn-block[dir="ltr"],
.bn-editor .bn-block-content[dir="ltr"],
.bn-editor .bn-inline-content[dir="ltr"],
[data-node-type="blockContainer"][dir="ltr"],
[data-node-type="blockContainer"][dir="ltr"] * {
	text-align: left !important;
	direction: ltr !important;
}

.bn-editor h1[dir="rtl"],
.bn-editor h2[dir="rtl"],
.bn-editor h3[dir="rtl"],
.bn-editor h4[dir="rtl"],
.bn-editor h5[dir="rtl"],
.bn-editor h6[dir="rtl"],
.bn-editor p[dir="rtl"] {
	text-align: right !important;
	direction: rtl !important;
}

.bn-editor ul[dir="rtl"],
.bn-editor ol[dir="rtl"] {
	padding-right: 2rem;
	padding-left: 0;
}

.bn-editor li[dir="rtl"] {
	text-align: right;
	direction: rtl;
}

.bn-editor ul[dir="rtl"] li::marker,
.bn-editor ol[dir="rtl"] li::marker {
	unicode-bidi: isolate;
}

.bn-editor blockquote[dir="rtl"] {
	border-right: 4px solid;
	border-left: none;
	padding-right: 1rem;
	padding-left: 0;
}

.bn-editor table[dir="rtl"] th,
.bn-editor table[dir="rtl"] td {
	text-align: right;
}

.bn-editor pre,
.bn-editor code,
.bn-editor .code-block {
	direction: ltr !important;
	text-align: left !important;
}

.bn-editor [dir="rtl"] [dir="ltr"] {
	direction: ltr;
	unicode-bidi: embed;
}

.bn-editor [dir="ltr"] [dir="rtl"] {
	direction: rtl;
	unicode-bidi: embed;
}

.bn-editor [dir="rtl"]::selection {
	background-color: rgba(100, 149, 237, 0.3);
}

.bn-editor [dir="rtl"] .ProseMirror-cursor {
	border-left: none;
	border-right: 1px solid currentColor;
}

.bn-editor [dir="rtl"] a {
	direction: rtl;
	unicode-bidi: embed;
}

.bn-editor [dir="rtl"] code {
	direction: ltr;
	unicode-bidi: embed;
}

.bn-editor [dir="rtl"] {
	unicode-bidi: isolate;
}

.bn-editor [dir="ltr"] {
	unicode-bidi: isolate;
}

.bn-editor [dir="rtl"] .is-empty::before,
.bn-editor [dir="rtl"] .is-editor-empty::before {
	text-align: right;
}

.bn-editor [dir="rtl"] ~ .bn-side-menu {
	right: auto;
	left: -3rem;
}

.bn-editor [dir="rtl"] .bn-formatting-toolbar {
	direction: ltr;
}

.bn-editor [dir="rtl"] ~ .bn-drag-handle {
	right: auto;
	left: -2rem;
}

.bn-editor [dir="rtl"] .bn-block-menu {
	right: auto;
	left: 0;
}

.bn-editor [dir="rtl"] {
	font-feature-settings: "kern" 1;
}

.bn-editor [dir="rtl"] {
	text-rendering: optimizeLegibility;
}

.bn-editor [dir="rtl"] figcaption {
	text-align: right;
}

.bn-editor [dir="rtl"] input[type="checkbox"] {
	margin-right: 0;
	margin-left: 0.5rem;
}

.bn-editor [dir="rtl"] {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.bn-editor [dir="rtl"] ul ul,
.bn-editor [dir="rtl"] ol ol,
.bn-editor [dir="rtl"] ul ol,
.bn-editor [dir="rtl"] ol ul {
	padding-right: 2rem;
	padding-left: 0;
}
