name: Release Test Builds

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version string (defaults to 0.0.0-test.<run-number>)"
        required: false
        default: ""

jobs:
  build:
    uses: ./.github/workflows/build-release.yml
    with:
      version: ${{ github.event.inputs.version != '' && github.event.inputs.version || format('0.0.0-test.{0}', github.run_number) }}
      artifact_suffix: -${{ github.event.inputs.version != '' && github.event.inputs.version || format('0.0.0-test.{0}', github.run_number) }}
